body {
  display: flex;
  background-color: black;
  color: red;
  text-shadow: white 0px 1px 0px;
}
img{
  width: 100px;
  height: 100px;
  border: white 1px solid;
}

main {
  max-width: 1260px;
  float: left;
}
section {
  margin-left: 3px;
  margin-bottom: 3px;
  width: fit-content;
  height: fit-content;
  float: left;
  background-color: rgb(24, 24, 24);
}
